anyascii==0.3.2
cached_path==1.6.2
click==8.1.7
cn2an==0.5.22
einops==0.8.0
einops_exts==0.0.4
fastapi==0.111.0
g2p_en==2.1.0
g2pkk==0.1.2
gradio==4.32.0
gruut==2.3.4
gruut_ipa==0.13.0
huggingface_hub==0.20.3
inflect==7.2.1
jamo==0.4.1
jieba==0.42.1
librosa==0.10.1
loguru==0.7.2
matplotlib==3.9.0
MeCab==0.996.3
mecab_python3==1.0.9
munch==4.0.0
nltk==3.8.1
num2words==0.5.13
numba==0.59.1
numpy==1.26.4
phonemizer==3.2.1
pydantic==2.7.2
pykakasi==2.2.1
pypinyin==0.51.0
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.13.1
six==1.16.0
soundfile==0.12.1
torch==2.1.2
torchaudio==2.1.2
tqdm==4.66.2
transformers==4.40.0
typing_extensions==4.12.0
uvicorn==0.30.0
websocket_client==1.7.0
